<template>
  <div class="calculator">
    <CalculatorRow
      v-for="(row, index) of rows"
      ref="rows"
      :key="index"
      :operations="row.operations"
      :isResultHighlighted="row.isResultHighlighted"
      :resultBindingId="row.resultBindingId"
      :id="index"
      @addOperation="addNewOperation(index, $event)"
      @removeOperation="removeOperation(index, $event)"
      @value="updateValue(index, $event)"
      @moveCursor="moveCursor(index, $event)"
      @bindValue="bindValue(index, $event)"
      @result="onResult(index, $event)"
      @hover="onHighlight($event, true)"
      @unhover="onHighlight($event, false)"
      @focus="onFocus($event, true)"
      @blur="onFocus($event, false)"
    />
    <button @click="addNewRow" type="button" class="calculator__add">
      Новое выражение
    </button>
  </div>
</template>

<script>
import Vue from 'vue'
import CalculatorRow from './CalculatorRow.vue'

let uniqKey = 1
const getUniqKey = () => ++uniqKey

export default {
  name: 'Calculator',
  components: {
    CalculatorRow,
  },
  data: () => ({
    rows: [],
    bindings: {},
  }),
  methods: {
    addNewRow() {
      this.rows.push({
        operations: [],
        resultBindingId: null,
        isResultHighlighted: false,
      })
    },
    addNewOperation(index, operation) {
      this.rows[index].operations.splice(operation.index + 1, 0, {
        operator: operation.operator,
        value: '',
        id: getUniqKey(),
      })
    },
    removeOperation(index, operationIndex) {
      const operation = this.rows[index].operations[operationIndex]

      if (operation.bindingId) {
        this.removeItemFromBinding(operation.bindingId, operation.id)
      }

      if (operationIndex === 0) {
        this.updateValue(index, { operation: operation.id, value: '' })
      } else {
        this.rows[index].operations.splice(operationIndex, 1)
      }
    },
    updateValue(index, event) {
      const operation = this.getOperation(index, event.operation)
      if (operation.bindingId) {
        this.bindings[operation.bindingId].items.forEach(item => {
          this.updateOperation(item.row, item.operation, {
            value: event.value,
          })
        })
      } else {
        this.updateOperation(index, event.operation, {
          value: event.value,
        })
      }
    },
    onResult(index, result) {
      const bindingId = this.rows[index].resultBindingId
      if (bindingId) {
        this.bindings[bindingId].items.forEach(item => {
          if (item.operation !== 'result') {
            this.updateOperation(item.row, item.operation, {
              value: result,
            })
          }
        })
      }
    },
    moveCursor(index, direction) {
      if (direction === 'up' && index > 0) {
        this.$refs.rows[index - 1].$refs['operation0'][0].$el.focus()
      } else if (direction === 'down' && index < this.rows.length - 1) {
        this.$refs.rows[index + 1].$refs['operation0'][0].$el.focus()
      }
    },
    bindValue(rowIndex, event) {
      const fromOperation = this.getOperation(
        event.fromRow,
        event.fromOperation
      )
      const toOperation = this.getOperation(rowIndex, event.toOperation)
      if (
        (rowIndex <= event.fromRow && event.fromOperation === 'result') ||
        (fromOperation &&
          fromOperation.isBoundToResult &&
          rowIndex < event.fromRow)
      ) {
        console.warn('You can drop RESULT-value only into the NEXT rows')
        return
      }

      let bindingId

      if (toOperation && toOperation.bindingId) {
        this.removeItemFromBinding(toOperation.bindingId, event.toOperation)
      }

      if (
        event.fromOperation === 'result' &&
        this.rows[event.fromRow].resultBindingId
      ) {
        this.addItemToBinding(
          this.rows[event.fromRow].resultBindingId,
          rowIndex,
          event.toOperation,
          event.value
        )
      } else if (fromOperation && fromOperation.bindingId) {
        this.addItemToBinding(
          fromOperation.bindingId,
          rowIndex,
          event.toOperation,
          event.value
        )
      } else {
        bindingId = getUniqKey()
        this.bindings[bindingId] = { items: [] }
        this.addItemToBinding(
          bindingId,
          event.fromRow,
          event.fromOperation,
          event.value
        )
        this.addItemToBinding(
          bindingId,
          rowIndex,
          event.toOperation,
          event.value
        )
      }
    },
    getOperation(rowIndex, operationId) {
      return this.rows[rowIndex].operations.find(
        operation => Number(operation.id) === Number(operationId)
      )
    },
    updateOperation(rowIndex, operationId, newValues) {
      let operation = this.getOperation(rowIndex, operationId)
      const index = this.rows[rowIndex].operations.indexOf(operation)

      operation = { ...operation, ...newValues }
      Vue.set(this.rows[rowIndex].operations, index, operation)
    },
    addItemToBinding(bindingId, rowId, operationId, value) {
      this.bindings[bindingId].items.push({
        row: rowId,
        operation: operationId,
      })

      if (operationId === 'result') {
        this.rows[rowId].resultBindingId = bindingId
      } else {
        this.updateOperation(rowId, operationId, {
          value,
          bindingId,
          isBoundToResult: this.bindings[bindingId].items.some(
            item => item.operation === 'result'
          ),
        })
      }
    },
    removeItemFromBinding(bindingId, operationId) {
      this.bindings[bindingId].items = this.bindings[bindingId].items.filter(
        item => {
          if (item.operation.toString() === operationId.toString()) {
            if (operationId === 'result') {
              delete this.rows[item.row].resultBindingId
              this.rows[item.row].isResultHighlighted = false
            } else {
              this.updateOperation(item.row, item.operation, {
                isBoundToResult: false,
                bindingId: null,
                isHighlighted: false,
                isFocused: false,
              })
            }
            return false
          }
          return true
        }
      )

      if (this.bindings[bindingId].items.length === 1) {
        this.removeItemFromBinding(
          bindingId,
          this.bindings[bindingId].items[0].operation
        )
        delete this.bindings[bindingId]
      }
    },
    onHighlight({ binding: bindingId }, value) {
      this.bindings[bindingId].items.forEach(item => {
        if (item.operation === 'result') {
          this.rows[item.row].isResultHighlighted = value
        } else {
          this.updateOperation(item.row, item.operation, {
            isHighlighted: value,
          })
        }
      })
    },
    onFocus({ binding: bindingId }, value) {
      this.bindings[bindingId].items.forEach(item => {
        this.updateOperation(item.row, item.operation, {
          isFocused: value,
        })
      })
    },
  },
  mounted() {
    this.addNewRow()
  },
}
</script>

<style lang="less">
.calculator {
  &__add {
    border: 1px solid #337ab7;
    background: #fff;
    border-radius: 8px;
    height: 35px;
    color: #337ab7;
    font-size: 14px;
    padding: 0 10px;
    outline: none;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: border-color ease-in-out 0.15s, color ease-in-out 0.15s;

    &::before {
      content: '+';
      font-size: 30px;
      margin-top: -6px;
      padding-right: 3px;
    }

    &:hover {
      color: #23527c;
      border-color: #23527c;
    }
  }
}
</style>
