<template>
  <div class="calculator-row">
    <CalculatorOperation
      v-for="(operation, index) in operations"
      class="calculator-row__operation"
      :ref="'operation' + index"
      @input="onInput"
      @addOperation="addNewOperation(index, $event)"
      @remove="removeOperation(index)"
      @moveCursor="moveCursor(index, $event)"
      @bindValue="bindValue(operation.id, $event)"
      @hover="$emit('hover', $event)"
      @unhover="$emit('unhover', $event)"
      @focus="$emit('focus', $event)"
      @blur="$emit('blur', $event)"
      :key="operation.id"
      :id="operation.id"
      :rowId="id"
      :operator="operation.operator"
      :value="operation.value"
      :bindingId="operation.bindingId"
      :isHighlighted="operation.isHighlighted"
      :isFocused="operation.isFocused"
      :isBoundToResult="operation.isBoundToResult"
     />
    <label
      class="calculator-row__operation --result"
      @mouseenter="resultBindingId && $emit('hover', { binding: resultBindingId })"
      @mouseleave="resultBindingId && $emit('unhover', { binding: resultBindingId })"
    >
      <span class="calculator-row__operator">=</span>
      <input
        type="text"
        :class="{
          'is-error': !result.length || result === 'Infinity',
          'is-highlighted': isResultHighlighted,
          'is-bound': !!resultBindingId,
         }"
        ref="result"
        :value="result"
        :size="result.length || 1"
        disabled
        draggable="true"
        @dragstart="onDrag"
      />
    </label>
  </div>
</template>

<script>
import CalculatorOperation from './CalculatorOperation'

export default {
  name: 'CalculatorRow',
  components: {
    CalculatorOperation,
  },
  props: {
    operations: Array,
    isResultHighlighted: Boolean,
    resultBindingId: Number,
    id: Number,
  },
  computed: {
    result() {
      let result = this.operations.reduce((result, operation, index) => {
        const value = parseFloat(operation.value)
        if (index === 0) {
          return value
        }

        switch (operation.operator) {
          case '+':
            return result + value
          case '-':
            return result - value
          case '*':
            return result * value
          case '/':
            return result / value
        }
      }, 0)

      result =
        !isNaN(result) &&
        result !== Number.POSITIVE_INFINITY &&
        result !== Number.NEGATIVE_INFINITY
          ? result.toString()
          : ''

      this.$emit('result', result)
      return result
    },
  },
  methods: {
    addNewOperation(index = 0, operator = '') {
      this.$emit('addOperation', { index, operator, isBound: false })
    },
    removeOperation(index) {
      this.$emit('removeOperation', index)
      this.$refs['operation' + (index === 0 ? 0 : index - 1)][0].$el.focus()
    },
    onInput(event) {
      this.$emit('value', event)
    },
    onDrag(event) {
      event.dataTransfer.setData('row', this.id)
      event.dataTransfer.setData('operation', 'result')
      event.dataTransfer.setData('value', this.result)
    },
    moveCursor(index, direction) {
      if (direction === 'left' && index > 0) {
        this.$refs['operation' + (index - 1)][0].$el.focus()
      } else if (direction === 'right' && index < this.operations.length - 1) {
        this.$refs['operation' + (index + 1)][0].$el.focus()
      } else {
        this.$emit('moveCursor', direction)
      }
    },
    bindValue(operationId, event) {
      this.$emit('bindValue', {
        fromRow: event.fromRow,
        fromOperation: event.fromOperation,
        toOperation: operationId,
        value: event.value,
      })
    },
  },
  mounted() {
    this.addNewOperation()
  },
}
</script>

<style lang="less">
@import '../style/global';

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

.calculator-row {
  background: #f8f8f8;
  border: 1px solid #e7e7e7;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  padding: 10px 15px;
  margin-bottom: 20px;

  &__operation {
    display: flex;
    white-space: nowrap;
    font-family: monospace;
    line-height: 30px;
    padding: 5px 10px 5px 0;
    position: relative;
    z-index: 1;
    cursor: text;
    &::after {
      content: '';
      display: none;
      position: absolute;
      z-index: 2;
      width: 2px;
      height: 90%;
      right: 4px;
      top: 5%;
      background: #66afe9;
      animation: blink-animation 1s steps(2, start) infinite;
    }

    &:focus {
      outline: none;

      &::after {
        display: block;
      }
    }

    span {
      padding-right: 10px;
      font-weight: bold;
      font-size: 17px;
      line-height: 28px;
    }

    &.--result {
      input {
        color: #5cb85c;
        cursor: move;
      }
    }

    input {
      background: #eeeeee;
      border-radius: 8px;
      outline: none;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
      height: 30px;
      line-height: 28px;
      padding: 0 8px 0 10px;
      font-weight: bold;
      font-size: 1em;
      font-family: monospace;
      border: 1px solid rgba(0, 0, 0, 0.075);
      transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s,
        background ease-in-out 0.15s;
      color: #333;

      &.is-bound {
        border-color: #f0ad4e;
        border-style: dashed;
        /*color: #f0ad4e;*/
      }

      &.is-error {
        border-color: #d9534f;
      }

      &.is-highlighted {
        background: #f0ad4e;
      }

      &:focus {
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
          0 0 8px rgba(102, 175, 233, 0.6);
        border-color: #66afe9;
        border-style: solid;
      }
    }
  }
}
</style>
