<template>
  <div
    class="calculator-operation"
    tabindex="0"
    @keydown="onKeypress"
  >
    <span v-if="operator">{{operator}}</span>
    <label
      @mouseenter="onHover"
      @mouseleave="onMouseout"
      @dragstart="onDrag"
      @drop="onDrop"
      @dragover.prevent
    >
      <input
        type="text"
        ref="input"
        draggable="true"
        :class="{
          'is-error': !value.length || (operator === '/' && value === '0'),
          'is-bound': bindingId,
          'is-highlighted': isHighlighted || isFocused,
        }"
        :value="value"
        :size="value.length || 1"
        :disabled="isBoundToResult"
        @focus="onFocus"
        @blur="onBlur"
        @keydown.stop="onKeypress"
        @input="updateValue($event.target.value)"
      />
    </label>
  </div>
</template>

<script>
const operators = '+-*/'

export default {
  name: 'CalculatorOperation',
  props: {
    operator: String,
    value: String,
    bindingId: Number,
    rowId: Number,
    id: Number,
    isBoundToResult: {
      type: Boolean,
      default: false,
    },
    isHighlighted: Boolean,
    isFocused: Boolean,
  },
  mounted() {
    this.$refs.input.focus()
  },
  methods: {
    onKeypress(event) {
      const isInputFocused = document.activeElement === this.$refs.input

      if (operators.includes(event.key)) {
        this.$emit('addOperation', event.key)
        return
      }

      if (
        event.key === 'Backspace' &&
        (!isInputFocused || !this.value.length)
      ) {
        this.$emit('remove')
        return
      }

      //TODO: move to constants
      if (
        ['ArrowLeft', 'ArrowRight', 'ArrowUp', 'ArrowDown'].includes(event.key)
      ) {
        const direction = event.key.replace('Arrow', '').toLowerCase()
        const $input = this.$refs.input

        if (
          isInputFocused &&
          ((direction === 'left' && $input.selectionStart > 0) ||
            (direction === 'right' &&
              $input.selectionStart < this.value.length))
        ) {
          return
        }

        this.$emit('moveCursor', event.key.replace('Arrow', '').toLowerCase())
        return
      }

      if (!isInputFocused && /^[\d.]$/.test(event.key)) {
        this.$refs.input.focus()
      }
    },
    updateValue(value) {
      const validFloat = value.match(/^\d*(\.\d*)?$/gi)
      let formattedValue = validFloat ? validFloat[0] : this.value

      this.$emit('input', { operation: this.id, value: formattedValue })
      this.$refs.input.value = formattedValue
    },
    onDrag(event) {
      event.dataTransfer.setData('row', this.rowId)
      event.dataTransfer.setData('operation', this.id)
      event.dataTransfer.setData('value', this.value)
    },
    onDrop(event) {
      this.$emit('bindValue', {
        fromOperation: event.dataTransfer.getData('operation'),
        fromRow: event.dataTransfer.getData('row'),
        value: event.dataTransfer.getData('value'),
      })

      setTimeout(() => {
        this.onHover()
        this.$refs.input.focus()
      }, 10)
    },
    onHover() {
      if (this.bindingId) {
        this.$emit('hover', { binding: this.bindingId })
      }
    },
    onFocus() {
      if (this.bindingId) {
        this.$emit('focus', { binding: this.bindingId })
      }
    },
    onBlur() {
      if (this.bindingId) {
        this.$emit('blur', { binding: this.bindingId })
      }
    },
    onMouseout() {
      if (this.bindingId) {
        this.$emit('unhover', { binding: this.bindingId })
      }
    },
  },
}
</script>
