<template>
  <div id="app">
    <h1>🤖 Реактивный калькулятор</h1>
    <Calculator/>
  </div>
</template>

<script>
import Calculator from './components/Calculator.vue'

export default {
  name: 'app',
  components: {
    Calculator,
  },
}
</script>

<style lang="less">
@import './style/global';

#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  max-width: 800px;
  margin: 0 auto 50px;
  color: #333;

  h1 {
    /*font-weight: normal;*/
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 50px 0;
  }
}
</style>
